<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Activiz.NET.x64" version="5.8.0" targetFramework="net472" />
  <package id="Activiz.NET.x86" version="5.8.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="GMap.NET.Core" version="2.0.2" targetFramework="net472" />
  <package id="GMap.NET.Windows" version="2.0.2" targetFramework="net472" />
  <package id="GMap.NET.WinForms" version="2.0.2" targetFramework="net472" />
  <package id="GMap.NET.WinPresentation" version="2.0.2" targetFramework="net472" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.7" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.TRIAL" version="14.1.23" targetFramework="net472" />
  <package id="VisioForge.DotNet.VideoCapture.TRIAL" version="14.1.23" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
</packages>